@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@font-face {
    font-family:Programming-hero;
    src: url(../fonts/Miama.ttf);
}
html{
    background-color: black;
}
*{
    margin: 0;
    box-sizing: border-box;
    padding:0;
  
}
/* styles */
.body{
    font-family: "Inter", sans-serif;
}
.header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}
.p-style{
    font-size:0.8rem;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
}
.tittle-style{
    color: rgb(255, 255, 255);
    font-size:3rem;
    font-weight: 900;
    line-height: 120%;
}
.btn{
    padding: 16px 42px 16px 42px;
    border-radius: 32px;
    color:white;
    font-size:1.2rem;
    line-height:22px;
    font-weight: 600;
    background: transparent;
    border:none;
    background-color:rgb(230, 83, 60);
    cursor: pointer;
    
}
.margin-btn{
    margin:0 10px;
}
.btn-2{
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
}
/* color section */
.primary-color{
    color: rgb(230, 83, 60);
}
.bg-color{
    background-color:rgb(230, 83, 60);
}
/* Here is nav-section */
.nav-bar{
    max-width: 74%;
    margin:0 auto;
    display: flex;
    padding-top:57px;
    justify-content: space-between;

}
.menu-bar{
    display:none;
}

.nav-bar ul{
     display:flex;
     align-items: center;
     border: 1px solid rgba(255, 255, 255, 0.1);
     border-radius: 39px;
}
.nav-bar ul li{
    list-style: none;
    margin-right:47px;

}
.nav-bar ul li a{
    text-decoration: none;
    color:white;
    font-size:1.2rem;
    font-weight: 400;
    line-height: 120%;
}
.nav-tittle{
    font-size:2.5rem;
    font-weight: 800;
    line-height: 120%;
}
.home{
    border-radius:46px;
    padding: 8px 20px;
    
}
/* Here is a banner section */
.banner{
   
    margin:0 auto;
    margin-top: 33px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:160px;
    
}
/* banner description section */
.banner-description{
    width:40%;
    margin-top:36px;
    
}
.banner-tittle{
    font-size:4rem;
    font-weight: 900;
    line-height: 120%;
    color:white;
    margin-bottom:28px;
}
#shape{
    font-family:Programming-hero ;
    font-weight: 400;
    font-size: 9.8rem;
}
/* banner box section */
.banner-box{
    position: relative;
    
}
.box{
    position: absolute;
    width:60%;
    height: 17%;
    border-radius:12px;
    color:white;
    border: 1px solid rgba(255, 255, 255, 0.1);
   backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    padding:17px 23px 16px 24px;
    
}
.banner-box img{
    width:100%;
   min-height: 100%;
}

.box-1{
  top:74%;
  left:-34%;
  display: flex;
  gap:5px;
  align-items: center;
}
.box-2{
  top:20%;
  left:60%;
}
.box-1 h3{
    font-size:1.8rem;
    
}
.box-1 p,.box-2 p{
    font-size:0.8rem;
    
}
.box-2 h1{
   font-size: 2.3rem;
}

.icon{

    border-radius:50%;
    background-color:rgb(230, 83, 60);
    width:20%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
/* Here is Habit section */
.habit{
    width:73%;
    margin:0 auto;
    text-align: center;
    margin-top:100px;
}
.habit-description{
    width:64%;
    margin:0 auto;
}
.habit-description h1{
    margin-bottom:14px;
}
.habit-description {
    margin-bottom:14px;
}
.habit-card-container{
    width:100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:40px;
    margin-top:58px;
}
.habit-card img{
   width:100%;
   border:3px solid rgba(255, 255, 255, 0.1);
   border-radius: 50%;
   margin-bottom:30px;
}

.habit-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.habit-card h4{
    font-size:1.2rem;
    font-weight: 600;
    line-height: 120%;
    color:white;
    margin-bottom:6px;
}
/* Here is a extra mile section */
.extra {
    gap: 165px;
    align-items: center;
    width: 74%;
    margin: 0 auto;
    display: flex;
    margin-top: 100px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    justify-content: center;
}
.extra-description {
    width: 42%;
    text-align: left;
    padding: 41px;
}
.extra-description h1{
    margin-bottom:14px
}
.extra-description p {
    padding-right: 0px;
    margin-bottom: 34px;
}

.extra-img {
    padding-bottom: 30px;
    padding-top: 30px;
    width: 35%;
    
}

.extra-img img {
    height: 392px;
    object-position: 66% 30%;
    object-fit: none;
    width: 100%;
    border-radius: 18px;
}
/* Here is a Training section */
.training{
    width:73%;
    margin:0 auto;
    margin-top:100px;
}
.training-description{
    width:55%;
    text-align: left;
}
.training-description h1{
    margin-bottom:14px;
}
.training-description p{
    margin-bottom:34px;
}
.training-img-container{
    width:100%;
   display: grid;
   grid-template-columns: repeat(12,1fr);
}
.content{
    /* position:relative; */
    /* height:250px; */
  min-height:250px;
}
.content h5{
    font-size:1rem;
    font-weight: 400;
}

.content img{
    width:100%;
    height: 100%;
}
.content-1{
    
    grid-column: 1/span 3;
    background-image:linear-gradient(180.00deg,rgba(2, 213, 188, 0.649),rgba(0, 241, 213, 0.26)) ,url("../images/exercise1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.content-2{
    grid-column:4/span 6;
    background-image:linear-gradient(180.00deg,rgba(213, 2, 2, 0.555),rgba(241, 40, 0, 0.26)) , url("../images/exercise2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.content-3{
    grid-column:10/span 4;
    background-image: linear-gradient(180.00deg,rgba(0, 0, 0, 0.796),rgba(0, 0, 0, 0.105)) ,url("../images/exercise3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content-4{
    background-image: linear-gradient(180.00deg,rgba(0, 0, 0, 0.796),rgba(0, 0, 0, 0.105)) ,url("../images/exercise4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column:1/span 5;
}
.content-5{
    background-image:linear-gradient(180.00deg,rgba(9, 213, 2, 0.458),rgba(0, 241, 56, 0.26)) ,url("../images/exercise5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column:6/span 3;
}
.content-6{
    background-image:linear-gradient(180.00deg,rgba(2, 48, 213, 0.478),rgba(0, 12, 241, 0.26)) , url("../images/exercise6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column:9/span 4;
}

.content-1 h5,.content-3 h5 , .content-5 h5{
 color:white;
 margin-top:40%;
 margin-left:5%;
}
.content-1 h5{
    color:black;
  }

.content-6 h5{
    color:white;
    margin-top:35%;
    margin-left:10%
}
.content-2 h5{
    color:white;
    margin-top:8%;
    margin-left:20%
}
.content-4 h5{
    color:white;
    margin-top:8%;
    margin-left:50%;
}
/* Here is bmi section */
table{
    border-collapse: collapse;
    margin-top:52px;    
}
td,th{
    border:1px solid rgba(255, 255, 255, 0.1);
    padding:5px 40px 13px 20px;

}
.bmi{
    margin:0 auto;
    margin-top: 88px;
    
}
.bmi-description{
    width:45%;
    margin:0 auto;
    margin-bottom:88px;
}
.bmi-description h1{
    margin-bottom: 14px;
}
.bmi-main{
    display: flex;
    justify-content: center;
    background: rgb(34, 34, 34);
    
    
}
.bmi-table{   
    padding-top:50px;
   
}
.bmi-calculator{
     padding:52px 0px;
    margin-left:175px;
    
}
.bmi-calculator h2{
    margin-bottom:14px;
}
.bmi-calculator-description{
    width:83%;
}
.calculate{
    margin:0 34px;
}
form{
    position: relative;
    width:80%;
    display:grid ;
    grid-template-columns: repeat(2,1fr);
    gap:12px;
    margin-top:34px;
    margin-bottom:34px;

}
input{
    width:100%;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
     display: flex;
    flex-direction: row;
   justify-content: flex-start;
  align-items: center;
   padding: 12px 40px 15px 20px;
   border:none;
}


#activity{
 
    grid-column: 1/span 2;
}
.icon1{
    position: absolute;
    color:rgba(255, 255, 255,0.6);
    left:95%;
    bottom: 43%;
}
.icon2{
    position: absolute;
    color:rgba(255, 255, 255,0.6);
    bottom:7%;
    left:95%
   
}
/* Here is a fitness section */
.fitness{
    width:74%;
    margin:0 auto;
    margin-top: 100px;
    display: flex;
    padding:1.5rem;
    justify-content: space-between;
   
    
}
.box-w{
    width:50%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border-radius: 65% 35% 85% 15% / 19% 66% 34% 81% ; */
    
}
.box-w h1{
    padding:20px;
}
.box-w p{
    padding:20px;
}
.box-w button{
    width:max-content;
   margin-left:20px;
}
.fitness-img{
    position: relative;
    width:30%;
    height: 500px;
    border-radius: 47% 53% 54% 46% / 23% 23% 77% 77%  ;
    background-color:rgb(230, 83, 60); 
    animation: aniy-2 2s linear 1s infinite alternate ;
}
@keyframes aniy-2 {
    from{
         top:0px;
    }
    to{
        top:25px
    }
}
.fitness-img img{
    width:100%
}
.circle{
    
        margin:0 auto;
        margin-top:24px;
        width:200px;
        height:10px;
        border-radius: 50%;
        filter: blur(10px);
        background-color: rgb(230, 83, 60);;
        transform: skewX(-90deg);
        transform: skewY(1deg);
        animation: aniy-1 2s linear 1s infinite alternate ;
    }
    @keyframes aniy-1 {
        from{
            width:200px;
        }
        to{
            width:300px
        }
    }

/* Here is team section */
.team{
    width:73%;
    margin:0 auto;
    margin-top:100px;
}
.team-description{
        width:55%;
        margin:0 auto;
        text-align:center;
}
.team-description h1{
    margin-bottom:14px;
}
.team-description p{
    margin-bottom:34px;
}
.team-card-container{
    width:100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    background: rgb(34, 34, 34);
    border-radius: 18px;
    padding:30px;
}
.team-card{
    border-radius: 18px;
    
}
.team-card img{
    width:100%;
    height: 100%;
}
.card-1{
    background-image: url("../images/trainer1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.card-2{
    background-image: url("../images/trainer2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.card-3{
    background-image: url("../images/trainer3.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.card-4{
    background-image: url("../images/trainer4.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.card-5{
    background-image: url("../images/trainer5.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.card-6{
    background-image: url("../images/trainer6.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.team-card h4{
    color:white;
    font-size:1.5rem;
    font-weight: 700;
}
.card-text{
    margin-top:80%;
    margin-left:5%; 
}

/* Here is a footer section */
.footer{
    margin:0 auto;
    margin-top: 100px;
    padding:34px 160px;
    background: rgb(34, 34, 34);
}
.footer-content{
    display:flex;
    justify-content: space-between;
    
}
.footer-description{
    width:40%;
}
.list-1 ul li{
    list-style:none;
    margin-bottom:20px;
}
.list-2 ul li{
    list-style: none;
    margin-bottom:20px;
}
.list-1 ul li a{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.5);
    font-size:1.5rem;
    font-weight: 400;
    
}
.list-2 ul li a{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.5);
    font-size:1.5rem;
    font-weight: 400;
   
}
.tittle{
    color:white;
    font-size:2rem;
    font-weight: 600;
    
}
.footer-description h1{
    font-size:4rem;
    margin-bottom:16px;

}
.conclusion{
    color:rgba(255, 255, 255, 0.5);
    font-size:1.5rem;
    font-weight: 300;
     margin:0 auto;
     display:flex;
     justify-content: center;
}
hr {
    border: 2px solid rgba(255, 255, 255, 0.158);

   
}
/* Here is a media section (max-width:576px) */

@media screen and (max-width:576px) {
    .nav-bar ul{
        display: none;
    }
    .menu-bar{
        display: flex;
        align-items: center;
        

    }
    
    .nav-bar,.habit{
        width:88%;
       margin:0 auto;
    }
    .banner{
        flex-direction: column;
            width:88%;
            align-items: flex-start;
        }
        
   .banner-description{
    width:90%;
    margin-top:0px;
   }
    .banner-tittle{
        font-size: 2.8rem;
    }
    #shape{
        font-size: 4.8rem;
    }
    .p-style{
        font-size: 1rem;
    }
    .button{
        display: flex;
        width:100%;
       gap:5px;
    }
    .icon1{
        left:90%;
    }
    .bmi-calculator-description,form ,input{
        width: 100%;
    }
    .bmi-calculator button {
        width: 50%;
    }
 
    
    .icon2{
        left:90%;
    }
    .btn{
        font-size:0.8rem;
        width: 50%;
        height: 54px;
       padding:0px  10px;
    }
    .btn-2{
        font-size:0.8rem;
       
    }
    .club{
        display: none;
    }
   .banner-box{
    width:80%;
    margin-top:0px;
   }
   
   .box-container{
    width:30vw;
   }
   .box-2{
    width:42vw;
    height: 23vw;
    top:10%;
    left:57%;
    padding:0px 10px;
   }
   .box-2 p,.box-1 p{

    font-size:9px;
    
   }
   .box-2 h1,.habit-description h1{
    font-size:1.8rem;
    width:100%;
   }
   .box-1{
    width:40vw;
    height: 20vw;
    top:40%;
    left:10%;
    padding:0px 10px;
   }
  
 .habit-description {
    width: 100%;
   margin:0 auto;
}
.habit-card-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
     
}
.extra-img img{
    width:100%;
    height: 100%;
}
.tittle-style {
    font-size: 2rem;
     width: 74%;
}
.extra-description {
    padding: 0px;
    padding-top: 41px;
    width: 80%;
    margin: 0 auto;
}

.extra, .training, .team {
    gap: 30px;
    width: 88%;
    margin: 0 auto;
    flex-direction: column;
    margin-top: 50px;
    padding: 0px;
}
.extra-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn {
    width: 100%;
    
}
.extra-img {
    width: 80%;
    margin: 0 auto;
    margin-bottom:30px; 
}
.training-description,.team-description{
    width:100%;
}
.training-img-container{
    width:100%;
    display: grid;
    grid-template-columns:repeat(4,1fr);
}
.content{
    height:100%;

}
.content h5{
    font-size:0.8rem;
    
}
.content-1{
    
    grid-column: 1/span 2;
}
.content-1 h5{
    color:white;
    margin-bottom: 12%;
}
.content-4 h5{
    margin-left: 10%;
    margin-top: 63%;
}
.content h5 {
    margin-bottom: 12%;
}
.press{
    display: none;
}

.content-2{
    grid-column: 3/span 2;
}
.content-4{
    grid-column: 1/span 2;
}
.content-5{
    grid-column: 3/span 2;
}
.content-3,.content-6{
    display: none;
}
.bmi-description {
    margin-left: 20px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 88px;
}
.bmi-main {
    display: flex;
    justify-content: center;
    background: rgb(34, 34, 34);
    flex-direction: column;
}
.bmi-table {
    margin-left: 20px;
    padding-top: 50px;
}
.bmi-calculator {
    margin-left: 20px;
    width: 90%;
    padding: 52px 0px;
    /* margin-left: 175px; */
}
.fitness {
    width:100%;
    
    flex-direction: column;
}
.box-w p , .box-w h1 {
   
    padding: 20px;
}
.box-w {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box-w button {
    width: 50%;
    margin-left: 20px;
}
.fitness-img img {
    width: 70%;
    margin-left: 15%;
}
.fitness-img {
    margin: 0 auto;
    margin-top:50px;
    position: relative;
    width: 70%; 
    height:100%;
    border-radius: 50%;
    background-color: #E6533C;
}
@keyframes aniy-1 {
    from{
        width:200px;
    }
    to{
        width:200px
    }
}

.margin-btn{
 margin:0px;
}
.team-card-container{
    grid-template-columns: repeat(1,1fr);
}
.team-card {
    height: 100%;
    border-radius: 18px;
}
.team-description h1{
    margin:0 auto;
    width: 100%;
}
.footer-content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 18px;
}
.footer-description h1 {
    margin-top:44px;
    font-size: 3.5rem;
    margin-bottom: 16px;
}
.footer{
    padding:0px;
    margin-top:34px;
}

.footer-description {
    margin-bottom: 50px;
    width: 90%;
}
.list-2 {
    margin-top: 20px;
}

hr {
    border: 1px solid gray;
    width: 90%;
    margin:0 auto;
   
}
.conclusion {
    width:100%;
    font-size: 1rem;
    font-weight: 200;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-bottom:57px;
}



}


